body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
}

p{
    font-weight: 700;
}

body {
    background-color: lightblue;
}

.page {
    width: 1500px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.vis-container-smaller {
    width: 500px;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 50px;
}

.title {
    background-image: url("https://assets.digitalocean.com/labs/images/community_bg.png");
    opacity: 0.6;
    width: 100%;
    height: auto;
}

.description-left {
    padding-right: 50px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}
