body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
  position: relative;
  color: #000000;  
  font-weight: bold;
  line-height: auto;
  text-align: center;
}

p{
    font-weight: 700;
}

body {
    background-color: lightblue;
}

.page {
    width: 1400px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.vis-container-smaller {
    width: 500px;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 50px;
}


.title {
    position: relative; 
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title::before {    
      content: "";
      background-image: url("https://assets.digitalocean.com/labs/images/community_bg.png");
      background-size: auto;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.5;
}

.description-left {
    padding-right: 50px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}
